h1{
  color:red;
  background-color: yellowgreen;
  height : 50px;
  width:auto;
  border:3px;}
h2{
   color:orange;
}
p{
  color:white;
  background-color: black;

}
button{
  color:white;
  background-color: blue;


}

